
<h1>Ingredients index</h1>
<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, cocktail_path(ingredient) %></li>
  <% end %>
</ul>

<%= link_to "+ Add an ingredient", new_cocktail_path %>